<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
 <!--rosparam file="$(find dual_moveit)/config/ros_controllers.yaml" command="load"/-->
  <!-- <arg name="controllers" default="joint_state_controller force_torque_sensor_controller vel_based_pos_traj_controller pos_based_pos_traj_controller
															    joint_group_vel_controller"/> -->
  <arg name="controllers" default="--namespace=/dual
       joint_state_controller
       blue_arm_controller
       red_arm_controller
       blue_gripper_controller
       red_gripper_controller
       --timeout 20"/>
  <!-- <rosparam file="$(find red_moveit)/config/test_ur10_controllers_red_gazebo.yaml" command="load"/>
  <rosparam file="$(find blue_moveit)/config/test_ur10_controllers_blue_gazebo.yaml" command="load"/> -->
  <rosparam file="$(find dual_moveit)/config/test_controllers.yaml" command="load"/>
  <!-- <rosparam file="$(find dual_moveit)/config/test_controller_list.yaml" command="load"/> commented on Mar 06 2020 -->
  <rosparam file="$(find dual_moveit)/config/gazebo_ros_control_params.yaml" command="load"/> <!-- for loading pid gains of the joints {added on Mar 03 2020} -->
  <!-- Load the controllers -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/dual"
    output="screen" args="$(arg controllers)" />

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/dual/joint_states" />
  </node> -->

</launch>

